*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;

}
ul li a{
    padding: 0 20px;
    text-decoration: none;
    padding: 0px 15px;
    color: #3a3a3a;
    display: inline-block;
}
li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #c4c4f7;
    transition:all .5s;
}
li a:hover::after{
    width: 100%;
}
main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: calc(100vh - 100px);
    
    align-items: center;
    justify-content: center;
   
}
.hero-img{
    max-width: 670px;
    height: auto;
}
.content-left{
    width: 30%;
}
main h1{
    font-size: 54px;
    color: #133B4F;
    text-transform: uppercase;
}
main h2{
    font-size: 25px;
    color: #fca70c;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}
main p{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;

}
.btn{
    padding: 15px 30px;
    background: #C4c4f7;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;

}
